# Public (browser)
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_RECUR_PROGRAM_ID=
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Server only
RPC_URL=https://api.devnet.solana.com
KEEPER_SECRET_KEY=
CRON_SECRET=
WEBHOOK_URL=
WEBHOOK_SECRET=
